/*::::::::::Estilos generales de la Aplicación:::::::::::*/
html {
   /* background-color: #56baed;*/
    height: 100%;
  }
  
  @font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  body {
    /*font-family: "Poppins", sans-serif;*/
    font-family: 'Rubik', sans-serif;
    height: 100vh;
   /* background-color: #fff;*/
  }
  
  h1,h2,h3,h4,h5,h6{   
    font-family:'Myriad Pro Regular';
    font-style: italic;
	  color:#002244;
  }
  h1{
    font-weight: 600;
  }
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #002244;
  }

  /*:::::::::::::::::::::Home::::::::::::::::::::::::::::*/
  
   header{
    box-shadow: 0px 0px 10px 0px rgb(96 96 96 / 16%);
   }  
   .home-main{    
     padding: 2rem 0;
   }
  .header_top{
    background-color: #002244;
    height: 25px;
  }
  .header_top_items{
    display: flex;
    justify-content:start;
    color: #fff;
    list-style: none;
  }
  .header_top_item{
    margin: 0 1rem;
   

  }
  .header_down{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem;    
  }
  .header_down_icono-linea{
    display: flex;
    align-items: center;  
  }
  .header_down_icono-linea h2{
    margin: 0px 0px 0px 1rem;
    text-align: left;
  }
  .header_down .btn{
    padding: 0.5rem 1.5rem;
  }
  .btn-text{
    font-weight: bold;
    margin-left: 0.5rem;;
  }
  .btn-sesion{
    background-color: #006091;
  }
  .btn-paga-aqui{
    background-color: #002244;
    margin: 0 2rem ;
  }
  .btn-descarga-app{
    background-color: #006091;
  }
  .btn-sesion:hover{
    background-color: #d42f74;
  }
  .footer{
    background-color: #d42f74;
  }
  .footer-text h6{
    color:#fff;
  }
  /*:::::::::::::::::::Dashboard::::::::::::::::::::::::::*/

  .grid-container{
    display: grid;
    background-color: #56baed;
    grid-template-columns: 15% auto;
  }
  .sidebar-nav{
    width: 270px;
  }
  .bg-corporativo{
    background-color: #002244 !important;
  }
  @media (min-width:992px) {

    body{
      overflow: auto !important;
    }
    .offcanvas-backdrop::before{
      display: none;
    }
    main{
      margin-left: 270px;
    }
    .sidebar-nav{
      transform: none;
      visibility: visible !important;
      top:76px;
      height: calc(100% - 76px);
    }
  }
/*=====================================================*/


/*:::::::::::::::::::::::Crud::::::::::::::::::::::::::*/
input{
  margin:0.7rem 0;
}
.btn-edit{
  background-color: #006091;
  color: #fff;
}
.btn-edit:hover{
  background-color: #002244;
  color:#fff;
}
.btn-crear-usuario{
  background-color: #d42f74;
  color:#fff;
}
.btn-crear-usuario:hover{
background-color: #ac295f;
color:#fff;
}

/*:::::::::::::::::::Menú Lateral::::::::::::::::::::::*/
.menu-lateral{
 background-image: url(../img/bg-login.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}
.logo-blanco{
  width: 80%;
}